<%
  _.each(videos, function (item) {
    var video = (item.video) ? item.video : item;
%>
<div class="col-md-2 video">
  <div class="thumbnail">
    <% if (video.Tag()) { %>
    <div class="ribbon">
      <span><%= video.Tag() %></span>
    </div>
    <% } %>
    <a class="images" href="<%= video.nba_id %>" style="background-image: url('<%= video.thumbnail ? video.thumbnail : "http://placekitten.com/g/155/110" %>')">
      <span class="duration"><%= video.duration ? video.duration : '' %></span>
    </a>
    <div class="caption">
      <h3 class="title"><%= video.title %></h3>
      <p style="text-align:center"><a href="<%= video.src %>" target="_blank" class="btn btn-primary btn-sm" role="button"><span class="fa fa-cloud-download" aria-hidden="true"></span> 下載</a> <a href="<%= video.nba_id %>" class="btn btn-success btn-sm" role="button"><span class="fa fa-video-camera" aria-hidden="true"></span> 觀看</a></p>
      <p class="clearfix nba-info"><span class="view-count"><span data-module="view_counts" data-nba-id="<%= video.nba_id %>"><%= video.getViewCounts() %></span> 瀏覽</span><span class="game-date"><%= video.gameDate() %></span></p>
    </div>
  </div>
</div>
<% }) %>
