<div class="col-xs-12 col-sm-9">
  <div id="video_container" class="row">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered"
      controls preload="auto" width="100%" height="480">
      <source src="<%= video.src %>" type='video/<%= video.getSrcExtName() %>' />
    </video>
    <div class="col-md-12">
      <p class="google-adsense">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- responsive ad -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8029787021384054"
             data-ad-slot="9639025813"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </p>
      <h2><%= video.getTitleTR() %></h2>
      <p><span class="label label-default"><%= video.gameDate() %></span>&nbsp;<%= video.description %></p>
      <p class="control-bar">
        <a class="btn btn-primary" href="<%= video.src %>" target="_blank"><span class="fa fa-cloud-download" aria-hidden="true"></span> 影片下載</a>
        <button id="fullscreen" type="button" class="btn btn-success"><span class="fa fa-video-camera" aria-hidden="true"></span> 線上大螢幕</button>
        <a class="btn btn-social btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u=<%= req.baseUrl + encodeURI(req.url) %>">
          <i class="fa fa-facebook"></i>
          分享
        </a>
        <a class="btn btn-social btn-twitter" href="https://twitter.com/home?status=<%= req.baseUrl + encodeURI(req.url) %>">
          <i class="fa fa-twitter"></i>
          分享
        </a>
        <a class="btn btn-social btn-google-plus" href="https://plus.google.com/share?url=<%= req.baseUrl + encodeURI(req.url) %>">
          <i class="fa fa-google-plus"></i>
          分享
        </a>
        <span class="watch-view-count"><span data-module="view_counts" data-nba-id="<%= video.nba_id %>"><%= video.getViewCounts() %></span>&nbsp;<sapn style="font-size:12px">瀏覽</span></span>
      </p>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
  <%
    _.each(videos, function (item) {
      var video = (item.video) ? item.video : item;

      // check video exist
      if (!video.nba_id) {
        return;
      }
  %>
  <div class="col-sm-12">
    <div class="thumbnail">
      <% if (video.getTag()) { %>
      <div class="ribbon">
        <span><%= video.getTag() %></span>
      </div>
      <% } %>
      <a class="images" href="<%= video.nba_id %>" style="background-image: url('<%= video.thumbnail ? video.thumbnail : "http://placekitten.com/g/155/110" %>')">
        <span class="duration"><%= video.duration ? video.duration : '' %></span>
      </a>
      <p style="margin: 5px 0px;"><%= video.getTitleTR() %></p>
      <p class="clearfix nba-info"><span class="view-count"><span data-module="view_counts" data-nba-id="<%= video.nba_id %>"><%= video.getViewCounts() %></span> 瀏覽</span><span class="game-date"><%= video.gameDate() %></span></p>
    </div>
  </div>
  <% }) %>
</div>
