<div class="col-xs-12 col-sm-9">
  <div id="video_container" class="row">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered"
      controls preload="auto" width="100%" height="480">
      <source src="<%= video.src %>" type='video/mp4' />
    </video>
    <div class="col-md-12">
      <h2><%= video.title %></h2>
      <p><span class="label label-default"><%= video.gameDate() %></span>&nbsp;<%= video.description %></p>
      <p class="control-bar">
        <a class="btn btn-primary"><span class="fa fa-cloud-download" aria-hidden="true"></span> 影片下載</a>
        <button id="fullscreen" type="button" class="btn btn-success"><span class="fa fa-video-camera" aria-hidden="true"></span> 線上大螢幕</button>
        <a class="btn btn-social btn-facebook">
          <i class="fa fa-facebook"></i>
          分享
        </a>
        <a class="btn btn-social btn-twitter">
          <i class="fa fa-twitter"></i>
          分享
        </a>
        <a class="btn btn-social btn-google-plus">
          <i class="fa fa-google-plus"></i>
          分享
        </a>
        <span class="watch-view-count"><span data-module="view_counts" data-nba-id="<%= video.nba_id %>"><%= video.getViewCounts() %></span>&nbsp;<sapn style="font-size:12px">觀看</span></span>
      </p>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'nba-video-film'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
  <% _.each(related.videos, function (item) { %>
  <div class="col-sm-12">
    <div class="thumbnail">
      <a class="images" href="<%= item.video.nba_id %>" style="background-image: url('<%= item.video.thumbnail %>')">
        <span class="duration"><%= item.video.duration %></span>
      </a>
      <p style="margin: 5px 0px;"><%= item.video.title %></p>
      <p class="clearfix nba-info"><span class="view-count"><span data-module="view_counts" data-nba-id="<%= item.video.nba_id %>"><%= item.video.getViewCounts() %></span> 觀看</span><span class="game-date"><%= item.video.gameDate() %></span></p>
    </div>
  </div>
  <% }) %>
</div>
